# -------------------------
# 비밀번호 / 환경변수
# -------------------------
.env
.env.*

# 예제 환경변수 파일은 Git에 포함
!.env.example

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/

venv/
.venv/

# -------------------------
# Node.js
# -------------------------
node_modules/

# -------------------------
# 빌드 / 캐시
# -------------------------
.cache/
dist/
build/